<!-- BEGIN: Content-->
<style>
    .block{
    pointer-events: none;
    color: #ffcc9a;
    }
    @keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}
</style>
<div class="app-content content ">
    <div class="content-wrapper container-xxl p-0">

        <div class="content-body">
            <section class="invoice-list-wrapper">
                <div class="card">
                    <div class="table-responsive">
                        <div class="card-datatable">
                            <table class="invoice-list-table table">
                                <thead>
                                    <tr>
                                        <th>Invoice number</th>
                                        <th>Ref</th>
                                        <th>Sold to</th>
                                        <th>Company Name</th>
                                        <th>Invoice Date</th>
                                    <th>Due Date</th>
                                        <th>Amt</th>
                                        <th>Tax</th>
                                        <th>Total</th>
                                        {{!-- <th>Actions</th> --}}
                                    </tr>
                                </thead>
                                <tbody class="table-white-space" id="invoices-table-body">
                                    {{#each inv_wofilter as |invoces i|}}
                                    <tr>
                                        <td>{{NUM}}</td>
                                        <td>{{INVREF}}</td>
                                        <td>{{BPCORD}}</td>
                                        <td>{{BPCORD_REF.$description}}</td>
                                        <td>{{INVDAT}}</td>
                                        <td>{{DUDDAT}}</td>
                                        <td>{{CUR_REF.$symbol}}{{#decimals AMTNOT}}{{/decimals}}</td>
                                        <td>{{AMTNOT}}</td>
                                        <td>{{CUR_REF.$symbol}}{{#decimals AMTATI}}{{/decimals}}</td>
                                        {{!-- <td></td> --}}
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
<!-- END: Content-->
<!-- Modal -->
<div class="modal fade text-start" id="default" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">Method Pay</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="smart-button-container">
                    <div style="text-align: center;">
                        <div id="paypal-button-container"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade text-start modal-primary" id="wait_modal" tabindex="-1" aria-labelledby="myModalLabel160"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="spinner-border text-center" role="status" style="width: 10rem;height: 10rem;">

                </div>
                <span class="visually-">Processing, please wait..</span>
            </div>
        </div>
    </div>
</div>
<input value="{{inv_filtering}}" class="d-none" id="invoices_list">
<input value="{{links}}" class="d-none" id="links">
<!-- Modal -->