<style>
    .invoices-details-colums {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
    }
</style>

<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="invoice-preview-wrapper">
                <div class="row invoice-preview">
                    <div class="col-xl-5 col-md-4 col-12 invoice-actions mt-md-0 mt-2">
                        <div class="card">
                            <div class="card-body invoices-details-colums">
                                <a class="btn btn-outline-secondary" href="/print-paymentDetail/{{payments_dt.0.pmtKey}}"
                                    target="_blank" style="margin-right: 1rem"> Print </a>
                                    {{!-- ONLY SHOW THIS BUTTON IF OPEN INVOICE DETAIL --}}
                            </div>
                        </div>
                    </div>
                    <div class="col-12"></div>
                    <!-- Invoice -->
                    <div class="col-12">
                        <div class="card invoice-preview-card">
                            <div class="card-body invoice-padding pb-0">
                                <!-- Header starts -->
                                <div
                                    class="d-flex justify-content-between flex-md-row flex-column invoice-spacing mt-0">
                                    <div>
                                        <div class="logo-wrapper">
                                            <img src="../../app-assets/images/logo/saw_logo.jpg" class="round" alt=""
                                                width="345" height="auto">
                                        </div>
                                        <p class="card-text mb-25">737 LAMAR STREET, LOS ANGELES, CA 90031 USA</p>
                                        <p class="card-text mb-0">TEL: +1 (323) 223 1401, FAX: +44 (323) 221 5957</p>
                                    </div>
                                    <div class="mt-md-0 mt-2">
                                        <h4 class="invoice-title">
                                            Payment Confirmation:
                                            <span class="invoice-number">{{payments_dt.0.pmtKey}}</span>
                                        </h4>
                                        <div class="invoice-date-wrapper">
                                            <p class="invoice-date-title">Date processesed: {{#format_date
                                                payments_dt.0.DateProcessesed}} {{/format_date}}</p>
                                        </div>
                                        <div class="invoice-date-wrapper">
                                            <p class="invoice-date-title">Transaction ID: <span
                                                    style="font-weight: bold;"> {{payments_dt.0.TransactionID}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Header ends -->
                            </div>
                            <hr class="invoice-spacing" />

                            <!-- Table payments details description starts -->
                            <div class="table-responsive">
                                <table class="table" id="detail_payment">
                                    <thead>
                                        <tr>
                                            <th class="py-1">Invoice</th>
                                            <th class="py-1">To</th>
                                            <th class="py-1">Date</th>
                                            <th class="py-1">Amount</th>
                                            <th class="py-1">Applied Amount</th>
                                            <th class="py-1">Status</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>

                            <div class="card-body invoice-padding pb-0">
                                <div class="row invoice-sales-total-wrapper">
                                    <div class="col-12 d-flex justify-content-end">
                                        <div class="invoice-total-wrapper me-md-3 me-lg-5">
                                            <hr class="my-50" />
                                            <div class="invoice-total-item">
                                                <p class="invoice-total-title" style="font-weight: bold;">Total:
                                                    <span>${{#decimals payments_dt.0.TranAmount}}{{/decimals}}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Description ends -->

                            <hr class="invoice-spacing" />

                            <!-- Note starts -->
                            <div class="card-body invoice-padding pt-0">
                                <div class="row">
                                    <div class="col-12">
                                        <span class="fw-bold">Note:</span>
                                        <span>Thank You!</span>
                                    </div>
                                </div>
                            </div>
                            <!--  Note ends -->
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<input value="{{payments_st}}" class="d-none" id="payments">
<!--JSON DATA IN STRING FOR DATATABLE  -->
<input value="{{inv_wofilter_st}}" class="d-none" id="invoices_details">
<!--JSON DATA IN STRING FOR DATATABLE  -->
<!-- END: Content-->