<style>
    .invoices-details-colums {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
    }
</style>


<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="invoice-preview-wrapper">
                <div class="row invoice-preview">
                    <!-- Invoice Actions -->
                    <div class="col-xl-5 col-md-4 col-12 invoice-actions mt-md-0 mt-2">
                        <div class="card">
                            <div class="card-body invoices-details-colums">
                                <a class="btn btn-outline-secondary" href="/print-invoice/{{inv_detail.NUM}}"
                                    target="_blank" style="margin-right: 1rem"> Print </a>
                                    {{!-- ONLY SHOW THIS BUTTON IF OPEN INVOICE DETAIL --}}
                                {{#if closed_inv}}{{else}} <form action="/pay_invoices" method="post"
                                    id="pay_invoices_form">
                                    <input id="ids_invoices" name="ids_invoices" value="{{inv_detail.NUM}}" hidden>
                                    <button class="btn btn-success w-100"> Pay</button>
                                </form>{{/if}}

                            </div>
                        </div>
                    </div>
                    <div class="col-12"></div>
                    <!-- /Invoice Actions -->
                    <!-- Invoice -->
                    <div class="col-12">
                        <div class="card invoice-preview-card">
                            <div class="card-body invoice-padding pb-0">
                                <!-- Header starts -->
                                <div
                                    class="d-flex justify-content-between flex-md-row flex-column invoice-spacing mt-0">
                                    <div>
                                        <div class="logo-wrapper">
                                            <img src="../../app-assets/images/logo/saw_logo.jpg" class="round" alt=""
                                                width="345" height="auto">
                                        </div>
                                        <p class="card-text mb-25">737 LAMAR STREET, LOS ANGELES, CA 90031 USA</p>
                                        <p class="card-text mb-0">TEL: +1 (323) 223 1401, FAX: +44 (323) 221 5957</p>
                                    </div>
                                    <div class="mt-md-0 mt-2">
                                        <h4 class="invoice-title">
                                            Invoice:
                                            <span class="invoice-number">{{inv_detail.NUM}}</span>
                                        </h4>
                                        <div class="invoice-date-wrapper">
                                            <p class="invoice-date-title">Date Issued: {{#format_date
                                                inv_detail.INVDAT}} {{/format_date}}</p>
                                        </div>
                                        <div class="invoice-date-wrapper">
                                            <p class="invoice-date-title">Due Date: {{#format_date
                                                inv_detail.SIVYPORINV.0.DUDDAT}}{{/format_date}}</p>
                                        </div>
                                        <div class="invoice-date-wrapper">
                                            <p class="invoice-date-title">Term: {{inv_detail.PTE_REF.$title}}</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Header ends -->
                            </div>
                            <hr class="invoice-spacing" />
                            <!-- Address and Contact starts -->
                            <div class="card-body invoice-padding pt-0">
                                <div class="row invoice-spacing invoices-details-colums">
                                    <div class="col-xl-8 p-0">
                                        <h6 class="mb-25 text-uppercase" style="font-weight: bold;">Invoice Address:
                                        </h6>
                                        <h6 class="mb-25">{{inv_detail.SIVYPORINV.0.BPINAM}}</h6>
                                        <h6 class="mb-25">{{inv_detail.SIVBPIADD.0.BPIADDLIG1}}
                                            {{inv_detail.SIVBPIADD.0.BPIADDLIG2}} {{inv_detail.SIVBPIADD.0.BPIADDLIG3}}
                                        </h6>
                                        <p class="card-text mb-25">{{inv_detail.SIVBPIADD.0.BPICTY}},
                                            {{inv_detail.SIVBPIADD.0.BPISAT}} {{inv_detail.SIVBPIADD.0.BPIPOSCOD}}</p>
                                        <p class="card-text mb-25">{{inv_detail.SIVBPIADD.0.BPICRYNAM}}</p>
                                    </div>
                                    <div class="col-xl-8 p-0 mt-xl-0 mt-2">
                                        <h6 class="mb-25 text-uppercase" style="font-weight: bold;">Ship to:</h6>
                                        <h6 class="card-text mb-25">{{inv_detail.SIVYPORINV.0.BPDNAM}}</h6>
                                        <p class="card-text mb-25">{{inv_detail.BPDADDLIG1}} {{inv_detail.BPDADDLIG2}}
                                            {{inv_detail.BPDADDLIG3}}</p>
                                        <p class="card-text mb-25">{{inv_detail.BPDCTY}}, {{inv_detail.BPDSAT}}
                                            {{inv_detail.BPDPOSCOD}}</p>
                                        <p class="card-text mb-25">{{inv_detail.BPDCRYNAM}}</p>

                                    </div>
                                    <div class="col-xl-8 p-0 mt-xl-0 mt-2">
                                        <p class="card-text mb-25">Rep:
                                            {{inv_detail.SIVYPORINV.0.SOLDREP_REF.$description}}</p>
                                        <p class="card-text mb-25">Phone: {{#phonenumberFormat
                                            inv_detail.SIVYPORINV.0.SOLDREPTEL}}{{/phonenumberFormat}}</p>
                                        <p class="card-text mb-25">Email: {{inv_detail.SIVYPORINV.0.SOLDREPWEB}}</p>
                                        <p class="card-text mb-0"> </p>

                                    </div>
                                </div>
                            </div>
                            <!-- Address and Contact ends -->

                            <!-- Invoice Description starts -->
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="py-1">Products</th>
                                            <th class="py-1">Sales Order #</th>
                                            <th class="py-1">QTY</th>
                                            <th class="py-1">PRICE</th>
                                            <th class="py-1">CRV/Unit</th>
                                            <th class="py-1">Sub-Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each inv_detail.SIVSID as |details i|}}
                                        <tr>
                                            <td class="py-1 border-bottom">
                                                <p class="card-text fw-bold mb-25">{{ITMREF}}</p>
                                                <p class="card-text text-nowrap">
                                                    {{ITMDES}}
                                                </p>
                                            </td>
                                            <td class="py-1 border-bottom">
                                                <span class="fw-bold">{{SOHNUM}}</span>
                                            </td>
                                            <td class="py-1 border-bottom">
                                                <span class="fw-bold">{{QTY}}</span>
                                            </td>
                                            <td class="py-1 border-bottom">
                                                <span class="fw-bold">${{#decimals GROPRI}}{{/decimals}}</span>
                                            </td>
                                            <td class="py-1 border-bottom">
                                                <span class="fw-bold">${{#decimals DISCRGVAL3}}{{/decimals}}</span>
                                            </td>
                                            <td class="py-1 border-bottom">
                                                <span class="fw-bold">${{#decimals AMTNOTLIN}}{{/decimals}}</span>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>

                            <div class="card-body invoice-padding pb-0">
                                <div class="row invoice-sales-total-wrapper">
                                    <div class="col-8">
                                        <p class="card-text mb-0">
                                            <span class="fw-bold">Last payment date:</span> <span
                                                class="ms-75">{{#format_date
                                                inv_detail.SIVYPORINV.0.LASTPAYDAT}} {{/format_date}}</span>
                                        </p>
                                    </div>
                                    <div class="col-4">
                                        <div class="invoice-total-wrapper me-md-3 me-lg-5 d-flex flex-column">
                                            <div class="invoice-total-item">
                                                <p class="invoice-total-title">Subtotal:
                                                    <span>${{#decimals inv_detail.AMTNOT}}{{/decimals}}</span>
                                                </p>
                                            </div>
                                            <div class="invoice-total-item">
                                                <p class="invoice-total-title">Discount: <span>$0</span></p>
                                            </div>
                                            <div class="invoice-total-item">
                                                <p class="invoice-total-title">Tax: ${{#tax_calculate inv_detail.AMTNOT
                                                    inv_detail.AMTATI}} {{/tax_calculate}}<span></span></p>
                                            </div>
                                            <hr class="my-50" />
                                            <div class="invoice-total-item">
                                                <p class="invoice-total-title" style="font-weight: bold;">Total:
                                                    <span>${{#decimals inv_detail.AMTATI}}{{/decimals}}</span>
                                                </p>
                                            </div>
                                            <hr class="my-50" />
                                            <div class="invoice-total-item">
                                                <p class="invoice-total-title">Payment applied:
                                                    <span>${{#appliedAmt inv_detail.SIVYPORINV.0.AMTLOC
                                                        inv_detail.SIVYPORINV.0.OPENLOC}}{{/appliedAmt}}</span>
                                                </p>
                                            </div>
                                            <div class="invoice-total-item" style="font-weight: bold;">
                                                <p class="invoice-total-title">Balance:
                                                    <span>${{#decimals
                                                        inv_detail.SIVYPORINV.0.OPENLOC}}{{/decimals}}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Invoice Description ends -->

                            <hr class="invoice-spacing" />
                            <!-- Invoice Note starts -->
                            <div class="card-body invoice-padding pt-0" style="font-size:x-small;">
                                <div class="row">
                                    <div class="col-12">
                                        <span class="fw-bold">Note:</span>
                                        <span>Invoices are payable in thirty (30) days. A 1.5% carrying charge will be added to the current statutory charges of 1.5 percent (CA B & P code 25509) on all balances unpaid after forty-two (42) days and each thirty (30) days thereafter and will result in loss of any discount. Customers may lose credit privileges and may be reported to State ABC Authorities when goods are in buyer’s possession or buyer’s agent signs delivery receipt. Such acceptance of goods confirms agreement that this and all prior invoices are payable at the address above.</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Invoice Note ends -->
                        </div>
                    </div>
                    <!-- /Invoice -->

                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->