<!-- BEGIN: Content-->
<style>
    .block{
    pointer-events: none;
    color: #ffcc9a;
    }
    @keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}
</style>
{{#if msg}}
<label id="msgs" hidden>{{msg}}</label>
{{/if}}
<div class="app-content content ">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
             {{#if activeBanner}}
            <div class="alert alert-primary alert-dismissible fade show" style="background-color: {{banner.colorBg}} !important;" role="alert">
              <div class="alert-body" style="color: {{banner.colorText}} !important;">
                {{banner.valueSett}}
                </div>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {{/if}}
            <section class="invoice-list-wrapper">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table" id="invoiceTable">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Invoice number</th>
                                    <th>Ref</thF>
                                    <th>Sold to</th>
                                    <th>Company Name</th>
                                    <th>Invoice Date</th>
                                    <th>Due Date</th>
                                    <th>Aged day</th>
                                    <th>Open Amt</th>
                                    <th>Tax</th>
                                    <th>Total</th>
                                    <th>Payment Status</th>
                                </tr>
                            </thead>
                            <tbody class="table-white-space" id="invoices-table-body">
                                {{#each inv_wofilter as |invoces i|}}
                                <tr>                                    
                                    <td>{{#if NUM_0}}{{NUM_0}}{{else}}{{NUM}}{{/if}}</td>

                                   <td>{{#if NUM_0}}{{NUM_0}}{{else}}{{NUM}}{{/if}}</td>

                                   <td>{{#if INVREF_0}}{{INVREF_0}}{{else}}{{INVREF}}{{/if}}</td>

                                   <td>{{#if BPCORD_0}}{{BPCORD_0}}{{else}}{{BPCORD}}{{/if}}</td>

                                   <td>{{#if BPCORD_REF.$description}}{{BPCORD_REF.$description}}{{else}}{{BPCORD_0}}{{/if}}</td>
                                    
                                    <td>{{#if INVDAT_0}}{{INVDAT_0}}{{else}}{{INVDAT}}{{/if}}</td>

                                    <td>{{#if DUDDAT_0}}{{DUDDAT_0}}{{else}}{{DUDDAT}}{{/if}}</td>

                                    <td>{{#if INVDAT_0}}{{INVDAT_0}}{{else}}{{INVDAT}}{{/if}}</td>

                                    <td>${{#if OPENLOC_0}}{{#decimals OPENLOC_0}}{{/decimals}}{{else}}{{#decimals OPENLOC}}{{/decimals}}{{/if}}</td>
                                    
                                    <td>{{#if AMTNOT_0}}{{AMTNOT_0}}{{else}}{{AMTNOT}}{{/if}} </td>

                                    <td>${{#if AMTATI_0}}{{#decimals AMTATI_0}}{{/decimals}}{{else}}{{#decimals AMTATI}}{{/decimals}}{{/if}} </td>

                                    <td>{{#if NUM_0}}{{NUM}}{{else}}{{NUM}}{{/if}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
<!-- END: Content-->
<form action="/pay_invoices" method="post" id="pay_invoices_form">
    <input id="ids_invoices" name="ids_invoices" hidden>
</form>
<!-- Modal -->
<div class="modal fade text-start" id="default" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">Method Pay</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="smart-button-container">
                    <div style="text-align: center;">
                        <div id="paypal-button-container"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade text-start modal-primary" id="wait_modal" tabindex="-1" aria-labelledby="myModalLabel160"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="spinner-border text-center" role="status" style="width: 10rem;height: 10rem;">

                </div>
                <span class="visually-">Processing, please wait..</span>
            </div>
        </div>
    </div>
</div>
{{!-- JSON Strings info: Payments, links and Open Invoices --}}
<input value="{{paymentsL}}" class="d-none" id="payments">
<input value="{{links}}" class="d-none" id="links">
<input value="{{inv_wofilter}}" class="d-none" id="invoices">
<!-- Modal -->