<!-- BEGIN: Content-->

    <div class="app-content content ">
        <div class="content-wrapper container-xxl p-0">
            <div class="content-body">
                <section class="invoice-list-wrapper">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table" id="invoiceTable">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Invoice number</th>
                                        <th>Ref</th>
                                        <th>Sold to</th>
                                        <th>Company Name</th>
                                        <th>Due</th>
                                        <th>Date</th>
                                        <th>Age day</th>
                                        <th>Amt</th>
                                        <th>Tax</th>
                                        <th>Total</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody class="table-white-space">
                                    {{#each inv_wofilter as |invoces i|}}
<tr>
    <td>{{NUM}}</td>
    <td>{{NUM}}</td>
    <td>{{INVREF}}</td>
    <td>{{BPCORD}}</td>
    <td>{{BPCORD_REF.$description}}</td>
    <td>{{DUDDAT}}</td>
    <td>{{INVDAT}}</td>
    <td>{{INVDAT}}</td>
    <td>{{CUR_REF.$symbol}}{{AMTNOT}}</td>
    <td>{{AMTNOT}}</td>
    <td>{{CUR_REF.$symbol}}{{AMTATI}}</td>
    <td></td>
</tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
    <!-- END: Content-->
	 <!-- Modal -->
 <div class="modal fade text-start" id="default" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">Method Pay</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="smart-button-container">
                    <div style="text-align: center;">
                        <div id="paypal-button-container"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>
<input value="{{inv_filtering}}" class="d-none" id="invoices_list">    
 <!-- Modal -->