<!-- BEGIN: Content-->
<style>
    .block{
    pointer-events: none;
    color: #ffcc9a;
    }
</style>
{{#if msg}}
<label id="msgs" hidden>{{msg}}</label>
{{/if}}
<div class="app-content content ">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <section class="invoice-list-wrapper">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table" id="invoiceTable">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Invoice number</th>
                                    <th>Ref</thF>
                                    <th>Sold to</th>
                                    <th>Company Name</th>
                                    <th>Invoice Date</th>
                                    <th>Due Date</th>
                                    <th>Aged day</th>
                                    <th>Open Amt</th>
                                    <th>Tax</th>
                                    <th>Total</th>
                                    <th>Payment Status</th>
                                </tr>
                            </thead>
                            <tbody class="table-white-space">
                                {{#each inv_wofilter as |invoces i|}}
                                <tr>
                                    <td>{{NUM}}</td>
                                    <td>{{NUM}}</td>
                                    <td>{{INVREF}}</td>
                                    <td>{{BPCORD}}</td>
                                    <td>{{BPCORD_REF.$description}}</td>
                                    <td>{{INVDAT}}</td>
                                    <td>{{DUDDAT}}</td>
                                    <td>{{INVDAT}}</td>
                                    <td>{{CUR_REF.$symbol}}{{#decimals OPENLOC}}{{/decimals}}</td>
                                    <td>{{AMTNOT}}</td>
                                    <td>{{CUR_REF.$symbol}}{{#decimals AMTATI}}{{/decimals}}</td>
                                    <td>{{NUM}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
<!-- END: Content-->
<form action="/pay_invoices" method="post" id="pay_invoices_form">
    <input id="ids_invoices" name="ids_invoices" hidden>
</form>
<!-- Modal -->
<div class="modal fade text-start" id="default" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">Method Pay</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="smart-button-container">
                    <div style="text-align: center;">
                        <div id="paypal-button-container"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade text-start modal-primary" id="wait_modal" tabindex="-1" aria-labelledby="myModalLabel160"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="spinner-border text-center" role="status" style="width: 10rem;height: 10rem;">

                </div>
                <span class="visually-">Processing, please wait..</span>
            </div>
        </div>
    </div>
</div>
{{!-- JSON Strings info: Payments, links and Open Invoices --}}
<input value="{{paymentsL}}" class="d-none" id="payments">
<input value="{{links}}" class="d-none" id="links">
<input value="{{inv_wofilter}}" class="d-none" id="invoices">
<!-- Modal -->