<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
        {{#if activeBanner}}
            <div class="alert alert-primary alert-dismissible fade show" style="background-color: {{banner.colorBg}} !important;" role="alert">
              <div class="alert-body" style="color: {{banner.colorText}} !important;">
                {{banner.valueSett}}
                </div>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {{/if}}
            <section class="invoice-list-wrapper">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table" id="paymentsTable">
                            <thead>
                                <tr>
                                    <th>pmtKey</th>
                                    <th>CusID</th>
                                    <th>TransactionID</th>
                                    <th>Amount</th>
                                    <th>Processor Status</th>
                                    <th>Status Desc</th>
                                    <th>Date Processed</th>
                                    <th>X3 STATUS</th>
                                    <th>Options</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
<input value="{{inv_filtering}}" class="d-none" id="invoices_list">
<input id="payments" value="{{payments}}" hidden>
{{#if admin}}<span id="admin"></span>{{/if}}
<!-- Modal -->