<!-- BEGIN: Content-->
<style>
    .block {
        pointer-events: none;
        color: #ffcc9a;
    }
</style>

<input type="text" value="{{settings}}" id="jsonSettings" hidden>{{!-- This hidden input contain the json string for
dataTable --}}

<div class="app-content content ">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            {{#if activeBanner}}
            <div class="alert alert-primary alert-dismissible fade show" style="background-color: {{banner.colorBg}} !important;" role="alert">
              <div class="alert-body" style="color: {{banner.colorText}} !important;">
                {{banner.valueSett}}
                </div>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {{/if}}

            <div class="row m-0 match-height" id="rowMain">
                <div class="col-lg-5 col-md-6 col-12">
                    <div class="card card-developer-meetup">
                        <div class="card-header align-items-start">
                            <h5 class="mb-md-0">Certificate Autentication</h5>
                        </div>
                        <div class="card-body">
                            <form class="form form-vertical">
                                <div class="row align-items-end">
                                    <div class="col-12 mb-1">
                                        <div class="d-inline-flex align-items-center flex-wrap">
                                            <label class="form-check-label" for="customSwitch1">Development </label>
                                            <div class="form-check form-switch ms-1 me-50">
                                                <input type="checkbox" class="form-check-input" id="envTypeCheck"
                                                    value="{{modeEnv.id}}" {{#checkedSwitch
                                                    modeEnv.Status}}{{/checkedSwitch}}>
                                            </div>
                                            <label class="form-check-label me-1" for="customSwitch1">Production</label>
                                            <button class="btn btn-primary" type="button" id="btnCronTaskTime"
                                                data-bs-toggle="modal"
                                                data-bs-target="#modalCalcDate">CronTaskTime</button>
                                        </div>
                                    </div>

                                    <div class="col-8 mb-1">
                                        <div class="">
                                            <label class="form-label" for="">SageX3Folder</label>
                                            <div class="input-group input-group-merge ">
                                                <span class="input-group-text"><i data-feather="link"></i></span>
                                                <input type="text" id="sageX3Folder" class="form-control" name="fname-icon"
                                                    placeholder=""
                                                    value='{{sagex3Folder}}' />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-4 mb-1"><button class="btn btn-primary w-100" type="button"
                                            id="savex3Folderbtn">Save</button></div>

                                    <div class="col-8 mb-1">
                                        <div class="">
                                            <label class="form-label" for="hostLink">Well Fargo URL</label>
                                            <div class="input-group input-group-merge ">
                                                <span class="input-group-text"><i data-feather="link"></i></span>
                                                <input type="text" id="hostLink" class="form-control" name="fname-icon"
                                                    placeholder="Well Fargo URL. . ."
                                                    value='{{hostLink}}' />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-4 mb-1"><button class="btn btn-primary w-100" type="button"
                                            id="btnValidate">Validate</button></div>
                                    <div id="certificatesContainer" {{#envCert modeEnv.Status}}{{/envCert}}>
                                        <div class="col-12  mb-1">
                                            <div class="">
                                                <label class="form-label" for="email-id-icon">Client Certificate</label>
                                                <div class="input-group input-group-merge">
                                                    <textarea class="form-control" id="clientCtr" rows="6"
                                                        placeholder="Client Certificate. . .">{{text0}}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12  mb-1">
                                            <div class="">
                                                <label class="form-label" for="email-id-icon">Client Private Key</label>
                                                <div class="input-group input-group-merge">
                                                    <textarea class="form-control" id="keyClient" rows="6"
                                                        placeholder="Client Private Key. . .">{{text1}}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12"><button class="btn btn-primary" type="button"
                                                id="btnSaveCert">Save Certificate/Key</button></div>
                                    </div>


                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-7">
                    <div class="row m-0">
                        <div class="col-12 p-0">
                            <div class="card mb-50">
                                <div class="table-responsive">
                                    <table class="table" id="settingsTable">
                                        <thead>
                                            <tr>
                                                <th>Value</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 p-0">
                            <div class="card card-developer-meetup">
                                <div class="card-body">
                                    <div class="row m-0">

                                        <div class="col-12 p-0">
                                            <div class="mb-1">
                                                <label class="form-label" for="gatewayCompanyId">Gateway Company
                                                    ID</label>
                                                <div class="input-group input-group-merge ">
                                                    <input type="text" id="gatewayCompanyId" data-id="{{gateaway.0.id}}"
                                                        class="form-control" name="fname-icon"
                                                        placeholder="Gateway Company ID. . ."
                                                        value="{{#decryptData gateaway.0.valueSett}}{{/decryptData}}" />
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12 p-0">
                                            <div class="mb-1">
                                                <label class="form-label" for="gatewayEntity">Gateway Entity ID</label>
                                                <div class="input-group input-group-merge ">
                                                    <input type="text" id="gatewayEntity" data-id="{{gateaway.1.id}}"
                                                        class="form-control" name="fname-icon"
                                                        placeholder="Gateway Entity ID. . ."
                                                        value="{{#decryptData gateaway.1.valueSett}}{{/decryptData}}" />
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12 p-0">
                                            <div class="mb-1">
                                                <label class="form-label" for="gatewayEntity">CONSUMERKEY</label>
                                                <div class="input-group input-group-merge ">
                                                    <input type="text" id="consumerKey" data-id="{{gateaway.2.id}}"
                                                        class="form-control" name="fname-icon"
                                                        placeholder="Gateway Entity ID. . ."
                                                        value="{{#decryptData gateaway.2.valueSett}}{{/decryptData}}" />
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12 p-0">
                                            <div class="">
                                                <label class="form-label" for="gatewayEntity">CONSUMERSECRET</label>
                                                <div class="input-group input-group-merge ">
                                                    <input type="password" id="consumerSecret"
                                                        data-id="{{gateaway.3.id}}" class="form-control"
                                                        name="fname-icon" placeholder="Gateway Entity ID. . ."
                                                        value="{{#decryptData gateaway.3.valueSett}}{{/decryptData}}" />
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12 p-0">
                                            <div class="">
                                                <label class="form-label" for="gatewayEntity">Bank ID</label>
                                                <div class="input-group input-group-merge ">
                                                    <input type="text" id="bank_id"
                                                        data-id="{{gateaway.5.id}}" class="form-control"
                                                        name="fname-icon" placeholder="Bank ID."
                                                        value="{{#decryptData gateaway.5.valueSett}}{{/decryptData}}" />
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12 p-0">
                                            <div class="">
                                                <label class="form-label" for="gatewayEntity">Bank Account Number</label>
                                                <div class="input-group input-group-merge ">
                                                    <input type="text" id="bank_account_number"
                                                        data-id="{{gateaway.6.id}}" class="form-control"
                                                        name="fname-icon" placeholder="Bank Account Number"
                                                        value="{{#decryptData gateaway.6.valueSett}}{{/decryptData}}" />
                                                </div>

                                            </div>
                                        </div>
                                         <div class="col-12 p-0">
                                            <div class="">
                                                <label class="form-label" for="gatewayEntity">Bank ID FP</label>
                                                <div class="input-group input-group-merge ">
                                                    <input type="text" id="bank_id_FP"
                                                        data-id="{{gateaway.7.id}}" class="form-control"
                                                        name="fname-icon" placeholder="Bank ID FP."
                                                        value="{{#decryptData gateaway.7.valueSett}}{{/decryptData}}" />
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12 p-0">
                                            <div class="">
                                                <label class="form-label" for="gatewayEntity">Bank Account Number FP</label>
                                                <div class="input-group input-group-merge ">
                                                    <input type="text" id="bank_account_number_FP"
                                                        data-id="{{gateaway.8.id}}" class="form-control"
                                                        name="fname-icon" placeholder="Bank Account Number FP"
                                                        value="{{#decryptData gateaway.8.valueSett}}{{/decryptData}}" />
                                                </div>

                                            </div>
                                        </div>
                                           <div class="col-12 mt-1">
                                    <input type="hidden" class="form-control" name="bannerKey" id="bannerKey" value="{{banner.id}}">
                                <div class="d-flex">
                                    <div class="d-flex flex-column me-1">
                                        <label class="form-check-label" for="customSwitch3">Pause Customer Payment Methods (On/Off) </label>
                                        <div class="form-check form-check-primary form-switch">
                                            <input type="checkbox" data-id="{{gateaway.9.id}}" class="form-check-input" id="PauseCustomerPaymentMethods" value="1" {{#checkedSwitch
                                                    gateaway.9.valueSett}}{{/checkedSwitch}}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-12">
                    <div class="card card-body">
                        <div class="row m-0 align-items-end">
                            <div class="col-3 col-md-1 mb-1 mb-md-0">
                                    <input type="hidden" class="form-control" name="bannerKey" id="bannerKey" value="{{banner.id}}">
                                <div class="d-flex">
                                    <div class="d-flex flex-column me-1">
                                        <label class="form-check-label" for="customSwitch3">On/Off</label>
                                        <div class="form-check form-check-primary form-switch">
                                            <input type="checkbox" class="form-check-input" id="onBanner" value="1" {{#checkedSwitch
                                                    banner.Status}}{{/checkedSwitch}}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-9 col-md-5 mb-1 mb-md-0">
                                <label for="" class="form-label">Banner Text</label>
                                <textarea name="" id="bannerText" class="form-control" style="height: 50px;">{{banner.valueSett}}</textarea>
                            </div>
                            <div class="col-sm-6 col-md-3 mb-1 mb-md-0">
                                <label for="" class="form-label">Color Text</label>
                                <input type="color" class="form-control" name="colorText" id="colorText" value="{{banner.colorText}}">
                            </div>
                            <div class="col-sm-6 col-md-3 mb-1 mb-md-0">
                                <label for="" class="form-label">Color Background</label>
                                <input type="color" class="form-control" name="colorBg" id="colorBg" value="{{banner.colorBg}}">
                            </div>
                            <div class="col-sm-6 col-md-3 mt-1"><button class="btn btn-primary w-100" type="button"
                                            id="btnsaveBanner">Save</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Content-->
<div class="modal fade" id="modalCalcDate" tabindex="-1" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-transparent">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mx-50 pb-5">
                <h1 class="text-center mb-1" id="label1">“At every minute.”</h1>
                <h5 class="text-center mb-1" id="label2">next at <span id="hourDetail">2022-05-07 19:42:00</span></h5>
    <div id="nextTime">

    </div>
                <!-- form -->
                <form id="" class="">
                    <div class="row align-items-end m-0">
                        <div class="col-4 col-xl-2 px-50">
                            <label for="" class="form-label">Minute</label>
                             <select class="form-control changecron minutes" id="minutes" name="state">
                                                            <option value="1" >1 minute</option>
                                                            <option value="5">5 minute</option>
                                                            <option value="10">10 minute</option>
                                                            <option value="15">15 minute</option> 
                                                            <option value="30">30 minute</option>                                             
                                                            <option value="45">45 minute</option>
                                                            <option value="59">59 minute</option> 
                                                    </select>
                        </div>
                        <div class="col-4 col-xl-2 px-50">
                            <label for="" class="form-label">Hour</label>
                             <select class="form-control changecron hours" id="hours" name="state">
                                                            <option value="*" selected>*</option>
                                                            <option value="1">1 hours</option>
                                                            <option value="5">5 hours</option>
                                                            <option value="12">12 hours</option>
                                                            <option value="20">20 hours</option> 
                                                            <option value="24">24 hours</option> 
                                                    </select>
                        </div>
                        
                        <div class="col-4 col-xl-2 px-50">
                            <button type="button" class="btn btn-primary" id="setCron">Set</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade text-start" id="setSetting" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modaltitleSet">Settings </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalbodySet">
                <form id="formSettings">
                    <div class="col-12">
                        <label class="form-label" for="sValue">Value</label>
                        <input type="email" id="sValue" name="sValue" class="form-control" placeholder="Email..." />
                    </div>
                    <div class="col-12 mt-1 d-none">
                        <label class="form-label" for="sType">Setting Type</label>
                        <select class="form-control" id="sType" name="sType">
                            <option value="email-Support" selected>Email-Support</option>
                        </select>
                    </div>
                    <div class="col-12 mt-1">
                        <label class="form-label" for="sStatus">Status</label>
                        <select class="form-control" id="sStatus" name="sStatus">
                            <option value="0">Disabled</option>
                            <option value="1" selected> Enabled</option>
                        </select>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary acceptSetting" id="acceptSetting">Accept</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade text-start" id="setEditSetting" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modaltitleSet">Settings </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalbodySet">
                <form id="editformSettings">
                    <div id="idEdit" class="d-none"> </div>
                    <div class="col-12">
                        <label class="form-label" for="sValue">Value</label>
                        <input type="text" id="editsValue" name="sValue" class="form-control"
                            placeholder="Value for setting" />
                    </div>
                    <div class="col-12 mt-1">
                        <label class="form-label" for="sType">Setting Type</label>
                        <select class="form-control" id="editsType" name="sType">
                            <option value="email-Support">Email-Support</option>
                        </select>
                    </div>
                    <div class="col-12 mt-1">
                        <label class="form-label" for="sStatus">Status</label>
                        <select class="form-control" id="editsStatus" name="sStatus">
                            <option value="0">Disabled</option>
                            <option value="1" selected> Enabled</option>
                        </select>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary acceptSetting" id="editSetting">Accept</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('.changecron').on('change', async function (e) {
$('#nextTime').empty();
        if ($(this).hasClass('minutes')) {
            console.log('here minutes');
            let minute;
            if ($('#hours').val() == '*') {
                minute = moment().add($(this).val(), 'm').format('MM/DD/YYYY H:mm:00');
                    $('#hourDetail').text(minute);
                for (let i=2; i< 4; i++){
                    minute = moment(minute, 'MM/DD/YYYY H:mm:00').add($(this).val(), 'm').format('MM/DD/YYYY H:mm:00');
                $('#nextTime').append(`<h5 class="text-center mb-1" id="label2">next at ${minute}</h5>`)
                }
                if ($(this).val() == 1){
                    $('#label1').text('At every minute.');
                }else{
                        $('#label1').text('At minute ' + $(this).val());
                }
                } else {                 
                  minute = moment().add($(this).val(), 'm').format('MM/DD/YYYY H:mm:00');
                 minute = moment(minute, 'MM/DD/YYYY H:mm:00').add($('#hours').val(), 'h').format('MM/DD/YYYY H:mm:00');
                    $('#hourDetail').text(minute);
                for (let i=2; i< 4; i++){
                     minute = moment(minute, 'MM/DD/YYYY H:mm:00').add($('#hours').val(), 'h').format('MM/DD/YYYY H:mm:00');
                $('#nextTime').append(`<h5 class="text-center mb-1" id="label2">next at ${minute}</h5>`)
                }                
                        $('#label1').text('At '+$('#hours').val()+ 'hour(s) with minute ' + $(this).val());            
                }
            return
        }
        else{
          console.log('here hour');
          let minute;
            if ($('#minutes').val() == '1') {
                minute = moment().add($(this).val(), 'h').format('MM/DD/YYYY H:mm:00');
                    $('#hourDetail').text(minute);
                for (let i=2; i< 4; i++){
                    minute = moment(minute, 'MM/DD/YYYY H:mm:00').add($(this).val(), 'h').format('MM/DD/YYYY H:mm:00');
                $('#nextTime').append(`<h5 class="text-center mb-1" id="label2">next at ${minute}</h5>`)
                }
                    $('#label1').text('At every hour(s).');
                } else {                 
                  minute = moment().add($(this).val(), 'h').format('MM/DD/YYYY H:mm:00');
                 minute = moment(minute, 'MM/DD/YYYY H:mm:00').add($('#minutes').val(), 'm').format('MM/DD/YYYY H:mm:00');
                    $('#hourDetail').text(minute);
                for (let i=2; i< 4; i++){
                     minute = moment(minute, 'MM/DD/YYYY H:mm:00').add($(this).val(), 'h').format('MM/DD/YYYY H:mm:00');
                $('#nextTime').append(`<h5 class="text-center mb-1" id="label2">next at ${minute}</h5>`)
                }                
                        $('#label1').text('At '+$('#hours').val()+ 'hour(s) with minute ' + $(this).val());            
                }            
            return  
        }
    }); 
$('#setCron').on('click', async function (e) {
    let id = 26;
    let value = $('#minutes').val() + ','+$('#hours').val();
    let data = new FormData();
    console.log(value)
    data.append('sId',id);
    data.append('sValue',value);
    data.append('sType','cronTime')
    data.append('sStatus','1')
    $.ajax({
      url: `/saveEditSetting`,
      type: 'POST',
      data: data,
      cache: false,
        contentType: false,
        processData: false,
      success: async function (data, textStatus, jqXHR) {
       console.log(data)
await fetch("/changeCronServer")
         .then((response) => response.json())
         .then((data) => {
           console.log(data)
         });
        if (data == 'OK') {
          swal.fire('CronTask time success update')
        }
      },
      error: function (jqXHR, textStatus) {
        console.log('error:' + jqXHR)
      }
    });
       
    }); 

   
</script>
<!-- Modal -->