<!-- BEGIN: Header-->
<style>
    .main-menu .navbar-header {
        padding: 0rem 1rem 0.3rem 0.64rem;
    }

    .main-menu .navbar-header .navbar-brand .brand-logo img {
        max-width: 133px;
    }

    .main-menu .navbar-header .navbar-brand {
        margin-top: 1rem;
    }
</style>
<nav
    class="header-navbar navbar navbar-expand-lg align-items-center floating-nav navbar-light navbar-shadow container-xxl">
    <div class="navbar-container d-flex content">
        <div class="bookmark-wrapper d-flex align-items-center">
            <ul class="nav navbar-nav d-xl-none">
                <li class="nav-item"><a class="nav-link menu-toggle" href="#"><i class="ficon"
                            data-feather="menu"></i></a></li>
            </ul>
            Payment Portal

        </div>
        <ul class="nav navbar-nav align-items-center ms-auto">
            <li class="nav-item dropdown dropdown-user"><a class="nav-link dropdown-toggle dropdown-user-link"
                    id="dropdown-user" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="user-nav d-sm-flex d-none"><span class="user-name fw-bolder">{{user.FNAME}}
                            {{user.LNAME}}</span><span class="user-status">{{#getRoles user.ROLE}}{{/getRoles}}</span>
                    </div><span class="avatar"><img class="round" src="../../../assets/uploads/{{pictureProfile}}"
                            alt="avatar" height="40" width="40"><span class="avatar-status-online"></span></span>
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-user">
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#edit_profile"><i
                            class="me-50" data-feather="user"></i> Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/close-session"><i class="me-50" data-feather="power"></i> Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!-- END: Header-->


<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow menu-collapsed" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row box-logo">
            <li class="nav-item me-auto"><a class="navbar-brand" href="/dashboard"><span class="brand-logo">
                        <img src="../../../app-assets/images/logo/saw_logo.jpg" class="round" alt="" width="150"
                            height="auto"></span>
                    {{!-- --}}
                </a></li>
            <li class="nav-item nav-toggle d-none"><a class="nav-link modern-nav-toggle pe-0"
                    data-bs-toggle="collapse"><i class="d-block d-xl-none text-primary toggle-icon font-medium-4"
                        data-feather="x"></i><i
                        class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary" data-feather="disc"
                        data-ticon="disc"></i></a></li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">

            <li class=" navigation-header"><span data-i18n="Apps &amp; Pages">Menu</span><i
                    data-feather="more-horizontal"></i>
            </li>
            <li class="{{#if invoiceO}}active{{/if}} nav-item"><a class="d-flex align-items-center" href="/dashboard"><i
                        data-feather='bar-chart-2'></i><span class="menu-title text-truncate" data-i18n="Email">Open
                        Invoices</span></a>
            </li>
            <li class="{{#if invoiceC}}active{{/if}} nav-item"><a class="d-flex align-items-center"
                    href="/close_invoices"><i data-feather='archive'></i><span class="menu-title text-truncate"
                        data-i18n="Email">Closed Invoices</span></a>
            </li>
            <li class="{{#if payments}}active{{/if}} nav-item"><a class="d-flex align-items-center" href="/payments"><i
                        data-feather='layers'></i><span class="menu-title text-truncate"
                        data-i18n="Email">Payments</span></a>
            </li>
            
            <li class=" nav-item {{#putDnoneClass user.ROLE}}{{/putDnoneClass}}"><a class="d-flex align-items-center" href="/payments_methods"><i
                        data-feather='credit-card'></i><span class="menu-title text-truncate" data-i18n="Email">Payment
                        Methods</span></a>
            </li>

            
            <li class="{{#if contactUs}}active{{/if}} nav-item"><a class="d-flex align-items-center"
                    href="/contactUs"><i data-feather="mail"></i><span class="menu-title text-truncate"
                        data-i18n="Email">Contact Us</span></a>
            </li>
            {{#if admin}} <li class="{{#if sysSettings}}active{{/if}} nav-item"><a class="d-flex align-items-center"
                    href="/sysSettings"><i data-feather="settings"></i><span class="menu-title text-truncate"
                        data-i18n="Email">System Settings</span></a>
            </li>{{/if}}
        </ul>
    </div>
</div>
<!-- END: Main Menu-->
<!-- Modal -->
<div class="modal fade" id="edit_profile" tabindex="-1" aria-labelledby="exampleModalScrollableTitle"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Edit Profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form class="needs-validation" method="post" id="edit_profile_form">
                    <div class="" id="client-info">
                        <div class="form-group mt-2"><label for="register-firstName" class="form-label">First
                                Name</label>
                            <input type="text" name="firstName" placeholder="First Name" tabindex="1"
                                class="form-control mb-2" autofocus id="firstName_edit_profile" value="{{user.FNAME}}">
                        </div>
                        <div class="form-group mt-2"><label for="register-firstName" class="form-label">Last
                                Name</label>
                            <input type="text" name="lastName" placeholder="Last Name" tabindex="1"
                                class="form-control mb-2" autofocus id="lastName_edit_profile" value="{{user.LNAME}}">
                        </div>
                    </div>
                    <div class="align-items-end mt-75 ms-1">
                        <div>
                            <label for="account-upload"
                                class="btn btn-sm btn-primary mb-75 me-75 waves-effect waves-float waves-light">Upload
                                pic profile</label>
                            <input type="file" id="account-upload" hidden="" accept="image/*">
                            <div class="progress progress-bar-primary">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                    aria-valuenow="20" aria-valuemin="20" aria-valuemax="100" style="width: 0%"></div>
                            </div>
                            <p class="mb-0" id="subtext-progress">Allowed file types: png, jpg, jpeg.</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button tabindex="26" rippleeffect=""
                            class="btn btn-primary btn-block waves-effect waves-float waves-light" type="button"
                            id="btn_edit_profile">Save</button>
                        <a tabindex="26" id="btnChangePassword"
                            class="btn btn-primary btn-block waves-effect waves-float waves-light" type="button">Change
                            Password</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="changePassword" tabindex="-1" aria-labelledby="exampleModalScrollableTitle"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Change Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form class="needs-validation" method="post" id="changePassword_form">  
                    <div class="" id="client-info">
                                <label class="form-label" for="currentpassword">Current Password</label>

                        <div class="input-group input-group-merge form-password-toggle">
                            <input type="password" class="form-control form-control-merge" id="currentpassword"
                                name="currentpassword" tabindex="2"
                                placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                aria-describedby="login-password" required />
                            <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                        </div>
                                <label class="form-label mt-1" for="password">New Password</label>

                        <div class="input-group input-group-merge form-password-toggle">
                            <input type="password" class="form-control form-control-merge" id="password" name="password"
                                tabindex="2"
                                placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                aria-describedby="login-password" required />
                            <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                        </div>
                        <div id="pswd_info">
                            <ul>
                                <li id="letter">It should have at least<strong>one letter</strong></li>
                                <li id="capital">Should have at least <strong>one uppercase letter</strong>
                                </li>
                                <li id="number">Should have at least <strong>a number</strong></li>
                                <li id="length">Should have at least <strong>8 characters</strong> minimun
                                </li>
                            </ul>
                        </div>

                        <div class="mb-1">
                            <div class="d-flex justify-content-between mt-1">
                                <label class="form-label" for="repeat-password">Confirm Password</label>
                            </div>
                            <div class="input-group input-group-merge form-password-toggle">
                                <input type="password" class="form-control form-control-merge" id="repeat-password"
                                    name="confirmpassword" tabindex="2"
                                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                    aria-describedby="login-password" required />
                                <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button tabindex="26" rippleeffect=""
                            class="btn btn-primary btn-block waves-effect waves-float waves-light" type="button"
                            id="btn_sub" disabled>Save</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script>
    /**JQUERY TO UPLOAD PIC PROFILE */
    $('#account-upload').on('change', (event) => {
        uploadPic(event)
    })
    /**JQUERY TO EDIT PROFILE */
    $('#btn_edit_profile').on('click', () => {
        updateProfile()
    })
    /**JQUERY TO EDIT PROFILE */
    $('#btnChangePassword').on('click', () => {
        $('#edit_profile').modal('hide');
        $('#changePassword').modal('show')
    })
    $('#btn_sub').click((e) => {
        if ($('#password').val() != $('#repeat-password').val()) {
            swal.fire('Passwords did not match')
            return
        }
        $.ajax({
            url: `/new-pass-save`,
            type: 'POST',
            data: $('#changePassword_form').serialize(),
            success: async function (data, textStatus, jqXHR) {
                console.log(data);
                if (data.status == 0) {
                    Swal.fire('Fail', data.message, 'warning');
                } else {
                    Swal.fire('Success', data.message, 'success').then(() => {
                        location.href = '/close-session'
                    });
                    // 
                }
            },
            error: function (jqXHR, textStatus) {
                console.log('error:' + jqXHR)
            }
        });
    })
    /**FUNCTION TO UPLOAD PIC PROFILE WITH AJAX */
    const uploadPic = (event) => {
        const files = event.target.files;//Get file
        const data = new FormData();
        let imagenX = event.target.id;
        data.append("file", files[0]);
        data.append("profile", 'check');
        $.ajax({
            url: '/upload-file',
            type: 'POST',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            xhr: function () {
                var xhr = $.ajaxSettings.xhr();
                xhr.upload.onprogress = function (event) {
                    var perc = Math.round((event.loaded / event.total) * 100);
                    $(`.progress-bar`).css('width', perc + '%');
                };
                return xhr;
            },
            beforeSend: function (xhr) {
                $(`.progress-bar`).css('width', '0%');

            },
            success: function (data, textStatus, jqXHR) {
                console.log(data)
                //When file is upload in Server, save picture name (file name) on SQL TABLE
                savePic(data.fileName)
                $(`#subtext-progress`).text('Image uploaded successfully - 100%');
            },
            error: function (jqXHR, textStatus) {
                $("#subtext-progress").text('100% - Error');
            }
        });
    };

    /** FUNCTION TO SAVE WITH AJAX PIC NAME (FILE NAME) ON SQL TABLE AFTER UPLOAD ON SERVER */
    const savePic = (picture) => {
        let email = '{{user.EMAIL}}'//Email getting with handlebar
        const data = new FormData();
        data.append("email", email);
        data.append("picture", picture);
        $.ajax({
            url: '/save-pic-profile',
            type: 'POST',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data, textStatus, jqXHR) {
                location.reload()//Reload page to view the new pic
            },
            error: function (jqXHR, textStatus) {
                $("#subtext-progress").text('100% - Error');
            }
        });
    };

    /**FUNCTION TO SAVE THE UPDATED PROFILE INFO: FNAME AND LNAME */
    const updateProfile = (picture) => {
        let email = '{{user.EMAIL}}', firstName_edit_profile = $(`#firstName_edit_profile`).val(), lastName_edit_profile = $(`#lastName_edit_profile`).val()

        const data = new FormData();
        data.append("email", email);
        data.append("lastName_edit_profile", lastName_edit_profile);
        data.append("firstName_edit_profile", firstName_edit_profile);
        $.ajax({
            url: '/update-profile',
            type: 'POST',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data, textStatus, jqXHR) {

                location.reload()//Reload page to update info
            },
            error: function (jqXHR, textStatus) {
                $("#subtext-progress").text('100% - Error');
            }
        });
    };
    const btna = document.getElementById('btn_sub');
    $('#password').keyup(function () {
        // set password variable
        var pswd = $(this).val();
        //validate the length
        if (pswd.length < 8) {
            $('#length').removeClass('valid').addClass('invalid');
        } else {
            $('#length').removeClass('invalid').addClass('valid');
        }

        //validate letter
        if (pswd.match(/[A-z]/)) {
            $('#letter').removeClass('invalid').addClass('valid');
        } else {
            $('#letter').removeClass('valid').addClass('invalid');
        }

        //validate capital letter
        if (pswd.match(/[A-Z]/)) {
            $('#capital').removeClass('invalid').addClass('valid');
        } else {
            $('#capital').removeClass('valid').addClass('invalid');
        }

        //validate number
        if (pswd.match(/\d/)) {
            $('#number').removeClass('invalid').addClass('valid');
        } else {
            $('#number').removeClass('valid').addClass('invalid');
        }

        if (pswd.length >= 8 && pswd.match(/[A-z]/) && pswd.match(/[A-Z]/) && pswd.match(/\d/)) {
            $('#btn_sub').removeAttr('disabled')
        } else {
            btna.setAttribute('disabled', true);
            console.log("holamundo")
        }
    }).focus(function () {
        $('#pswd_info').show();
    }).blur(function () {
        $('#pswd_info').hide();
    });
</script>
<style>
    #pswd_info {
        position: sticky;
        bottom: -75px;
        bottom: -115px\9;
        /* IE Specific */
        right: 55px;
        width: 100%;
        padding: 15px;
        background: #fefefe;
        font-size: .875em;
        border-radius: 5px;
        box-shadow: 0 1px 3px #ccc;
        border: 1px solid #ddd;
    }

    #pswd_info h4 {
        margin: 0 0 10px 0;
        padding: 0;
        font-weight: normal;
    }

    #pswd_info::before {
        content: "\25B2";
        position: absolute;
        top: -12px;
        left: 45%;
        font-size: 14px;
        line-height: 14px;
        color: #ddd;
        text-shadow: none;
        display: block;
    }

    .invalid {
        background: url(../images/invalid.png) no-repeat 0 50%;
        padding-left: 22px;
        line-height: 24px;
        color: #ec3f41;
    }

    .valid {
        background: url(../images/valid.png) no-repeat 0 50%;
        padding-left: 22px;
        line-height: 24px;
        color: #3a7d34;
    }

    #pswd_info {
        display: none;
    }
</style>